.dropshadow {
  filter: drop-shadow(-4px 0px 2px rgb(0 0 0 / 0.4));
}
.circle-background {
  fill: none;
  stroke: grey;
  box-shadow: 10px 5px 5px red;
}
.circle-progress {
  fill: none;
  stroke: rgba(255, 0, 0, 0.7);
}
.circle-progress2 {
  fill: none;
  stroke: green;
}
.circle-progress3 {
  fill: none;
  stroke: blue;
  box-shadow: 10px 5px 5px red;
}

circle {
  transition: all 0.2s ease-in-out;
}
